@model FaceApp.Models.ViewModels.SettingsViewModel
@{
	ViewData["Title"] = "Calendar";
	Layout = "~/Views/Shared/_Layout.cshtml";

	if (!ViewData.ModelState.IsValid)
	{
		<script>
			$(document).ready(function () {
				ShowModelpopup()
			});
		</script>
	}
}


@using (Html.BeginForm("Create", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", id = "mySettingsform", autocomplete = "off", role = "form" }))
{
	@Html.HiddenFor(m => m.CalendarId)
	@*<div class="container nospace">
		<div class="flexWrapper">*@

		<div class="pageTitle_wrap">
			<h6>Calendar Details</h6>
		</div>
		
		<div class="formSection">

			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "control-label" })
						<span style="color:#e85347;"> * </span>
						@Html.TextBoxFor(m => m.Name, new { placeholder = "Calendar Name", @class = "inputfile" })
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group mt30">
						<div class="checkbox checkbox-primary">
							@Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input" })
							<label for="IsActive">
								Active
							</label>
						</div>
					</div>
				</div>
			</div>


			<div class="row">

				<div class="col-md-12 mt10">
					<div class="grid_section">
						<div class="table-responsive tbltimePicker">
							<h3>Calendar Details <span style="color:#e85347;"> * </span></h3>
							<table class="table bdr6 bottom-bordered">
								<tbody>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.SundayIsActive, new { @class = "rd1" })
												<label>Sunday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.SundayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.SundayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.MondayIsActive, new { @class = "rd1" })
												<label>Monday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.MondayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.MondayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.TuesdayIsActive, new { @class = "rd1" })
												<label>Tuesday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.TuesdayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.TuesdayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.WednesdayIsActive, new { @class = "rd1" })
												<label>Wednesday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.WednesdayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.WednesdayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.ThursdayIsActive, new { @class = "rd1" })
												<label>Thursday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.ThursdayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.ThursdayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.FridayIsActive, new { @class = "rd1" })
												<label>Friday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.FridayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.FridayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="radio_group">
												@Html.CheckBoxFor(m => m.SaturdayIsActive, new { @class = "rd1" })
												<label>Saturday</label>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">Start Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.SaturdayStartTime, new { placeholder = "Start Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
										<td>
											<div class="d-flex alignCenter">
												<label for="time">End Time</label>
												<div class="input-group date timePicker">
													@Html.TextBoxFor(m => m.SaturdayEndTime, new { placeholder = "End Time", @class = "form-control timePicker" })
													<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="col-md-12 text-center">
								<div class="btn-wrapper justify_sb">
									<a href="@Url.Action("Index", "Settings")" class="btn btn-lg btn-secondary">Cancel</a>
									<button class="btn btn-lg btn-success" type="submit">Save</button>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>




		
		</div>


	<!-- Modal -->
	<div id="Settings" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">There are some missing fields that are required to save a form</h4>
				</div>
				<div class="modal-body">
					<div class="pageTitle_wrap">
						<h6>Please review the below fields before saving</h6>
					</div>
					<div class="formSection">
						<div class="row">
							@Html.ValidationSummary(false, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>



}
@*</div>
	</div>*@
<script src="~/js/main.js"></script>
<script>
	var firstOpen = true;
	var time;

	$('.timePicker').datetimepicker({
		useCurrent: false,
		format: "hh:mm A",
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	}).on('dp.show', function () {
		//if (firstOpen) {
		//	time = moment().startOf('day');
		//	firstOpen = false;
		//} else {
		//	time = "01:00 PM"
		//}

		//$(this).data('DateTimePicker').date(time);
	});

	function OnclickClearTrain() {
		$("#IsClearTrain").val("true");
	}

	function ShowTrainPopUp() {
		startStreaming();
		$("#divTrain").modal()
	}

	function CloseTrainPopUp() {
		stopStreaming();
	}

	function ShowModelpopup() {
		$("#Settings").modal()
	}

	function FileUploadBtnClick() {
		if ($("#imgInp").val() == null || $("#imgInp").val() == "") {
			$("#spanUploadFilealert").text("Please choose photo to upload.");
			setTimeout(function () { $("#spanUploadFilealert").text(""); }, 5000);
			return false;
		}
		else if (!validateFileType()) {
			$("#spanUploadFilealert").text("Accepted file format are JPG, JPEG, PNG.");
			setTimeout(function () { $("#spanUploadFilealert").text(""); }, 5000);
			return false;
		}
	}

	function validateFileType() {
		var inputElement = document.getElementById('imgInp');
		var files = inputElement.files;
		if (files.length == 0) {
			return true;
		} else {
			var filename = files[0].name;

			/* getting file extenstion eg- .jpg,.png, etc */
			var extension = filename.substr(filename.lastIndexOf("."));

			/* define allowed file types */
			var allowedExtensionsRegx = /(\.jpg|\.jpeg|\.png)$/i;

			/* testing extension with regular expression */
			var isAllowed = allowedExtensionsRegx.test(extension);

			if (isAllowed) {
				return true;
			} else {
				return false;
			}
		}
	}

	function OnchangePassword() {
		$("#IsPasswordChanged").val("true");
	}

</script>