@model FaceApp.Models.ViewModels.ChangePasswordModel
@{
	ViewData["Title"] = "Login";
	Layout = "";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myChangePasswordform", autocomplete = "Disabled", role = "form" }))
{
	@Html.HiddenFor(x => x.isLoginRedirect)
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Change Password</title>


		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />

		<link rel="stylesheet" href="~/css/style-1.css" />

		<script src="~/js/jquery-3.3.1.min.js"></script>
		<script src="~/js/bootstrap.js"></script>

	</head>
	<body class="login-body">

		<div class="container ">
			<div class="login_wrapper">
				<div class="login-form">
					<div class="login-title">
						<h3>Change Password</h3>
					</div>
					<div>
						@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
						<span style="color:#e85347;"> * </span>
						@Html.TextBoxFor(m => m.OldPassword, new { @type = "Password", placeholder = "Old Password", @class = "inputfile" })
						@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger error" })
					</div>
					<div>
						@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
						<span style="color:#e85347;"> * </span>
						@Html.TextBoxFor(m => m.NewPassword, new { @type = "Password", placeholder = "New Password", @class = "inputfile" })
						@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger error" })
					</div>
					<div>
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						<span style="color:#e85347;"> * </span>
						@Html.TextBoxFor(m => m.Password, new { @type = "Password", placeholder = "Password", @class = "inputfile" })
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger error" })
					</div>

					<div class="loginBtn">
						@*<a href="" class="btn btn-login"> Login </a>*@

						@if (Model.isLoginRedirect)
						{
							<a href="@Url.Action("Login", "Account")" class="btn btn-default"> Cancel </a>
						}
						else
						{
							<a href="@Url.Action("Attendance", "Person")" class="btn btn-default"> Cancel </a>
						}
						<button type="submit" class="btn btn-primary"> Save </button>
					</div>

				</div>
			</div>
		</div>

	</body>
}